# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints

# Environments
.venv
venv/
env/

# Skore
.skore

# data
data/*.csv

# Editor / OS
.DS_Store
